.title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    align-items: center;
    font-family: 'Kavoon', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Ultra', serif;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #98EECC;
    height: 100vh;
    margin-top: -10px;
    padding-top: 5px;
    border-top: solid 2px #178d9d;
}
.wrap{
    width:80%;
}
.header{
    background-color: #FFDDCC;
    padding: 5px ;
}

.message{
    background-color: #E9EDC9;
    margin: auto;
    border: solid 2px black;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    max-width: 70%;
    padding: 8px;
    font-family: 'Kavoon', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Ultra', serif;
    font-size: 20px;
    margin-top: -50px;
    margin-bottom: 5px;
}
.enter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
input[type="text"]{
    margin-right: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: 40px;
    background-color: rgb(179, 243, 243);
    border: solid 1px black;
    height: 60px;
    border-radius: 10px;
    font-family: 'Kavoon', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Ultra', serif;
    font-size: 25px;
}
button[type="submit"]{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: rgb(179, 243, 243);
    border: solid 1px black;
    font-family: 'Kavoon', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Ultra', serif;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.7);
}
.check{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cboxes {
    background-color: #FFDDCC;
    position: relative;
    height: 70px;
    width: 92%;
    margin: 10px;
    padding: 20px;
    border: solid 1px black;
    border-radius: 10px;
}
input[type="checkbox"]{
    width: 18px;
    height: 20px;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: rgb(120, 120, 120);
}

.cboxes button {
    position:relative;
    right: 0;
    padding: 5px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: #f75e5e;
    height: 40px;
    width: 40px;
}

.tasks-list{
    width: 40%;
    height: 70%;
    border: solid black 2px;
    background-color: #FFBFA9;
    overflow-y: scroll;
    margin-top: 10px;
    padding-top: 15px ;
    padding-bottom: 15px;
    border-radius: 10px;
}
.label{
    font-family: 'Acme', sans-serif;
    font-size: 28px;
}

@media (max-width: 768px) {
    .tasks-list {
        width: 90%;
        height: 70%;
    }
    .enter{
        margin-right: 5px;
        margin-left:  5px;
    }
    .message{
        width: fit-content;
    }
    input[type="text"]{
        margin-right: 2px;
    }
}